@mixin default-btn-overwrite {
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}

.button {
  @include default-btn-overwrite;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: $color-font-default;
  background-color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  border-radius: 4px;
  padding: 15px;
  margin: 5px;

  &:hover {
    filter: brightness(85%);
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: $box-shadow-medium;
  }

  &--disabled {
    background-color: $color-gray-light-3;
    color: $color-gray;
    box-shadow: none;
    cursor: default;
    pointer-events: none;
  }
}

.button-wrapper {
  @include default-btn-overwrite;
}